.commitlintrc.js archive-ignore
.editorconfig archive-ignore
.env.example archive-ignore
.eslintrc.json archive-ignore
.gitattributes archive-ignore
.gitignore archive-ignore
.lando.yml archive-ignore
.lintstagedrc.js archive-ignore
.markdownlintrc.json archive-ignore
.npmrc archive-ignore
.nvmrc archive-ignore
.prettierrc.js archive-ignore
.stylelintrc.js archive-ignore
.vscode/** archive-ignore
Dockerfile archive-ignore
README.md archive-ignore
bin/** archive-ignore
composer.json archive-ignore
composer.lock archive-ignore
cspell.config.js archive-ignore
docker-compose.yaml archive-ignore
package-lock.json archive-ignore
package.json archive-ignore
phpcs.xml.dist archive-ignore
phpstan.neon archive-ignore
